<h1>hola</h1>
<h2 style="color: blue;">esto es un subtitulo de prueba</h2>
<p>hola esto es un testo de prueba
    esto es para agregar masa texto.
    
    
    El texto "Lorem ipsum" no tiene un significado real, sino que está compuesto por palabras y frases en latín que han sido seleccionadas al azar y que no tienen una conexión lógica entre sí. 
    El texto también se ha alterado a lo largo del tiempo para hacer que parezca más natural y variado.
    </p>
    

<h2 style="color: blue;">esto es un subtitulo de prueba 2</h2>

<table border>
		<tr>
			<td>Fila 1, columna 1</td>
			<td>Fila 1, columna 2</td>
			<td>Fila 1, columna 3</td>
		</tr>
		<tr>
			<td>Fila 2, columna 1</td>
			<td>Fila 2, columna 2</td>
			<td>Fila 2, columna 3</td>
		</tr>
		<tr>
			<td>Fila 3, columna 1</td>
			<td>Fila 3, columna 2</td>
			<td>Fila 3, columna 3</td>
		</tr>
	</table>