<h1>hola</h1>
<h2 style="color: blue;">Esto es un subtitulo de prueba</h2>

<p>hola esto es un testo de prueba
    esto es para agregar masa texto
    El texto "Lorem ipsum" no tiene un significado real, sino que está 
    compuesto por palabras y frases en latín que han sido seleccionadas 
    al azar y que no tienen una conexión lógica entre sí. 
    El texto también se ha alterado a lo largo del tiempo para hacer que parezca más natural y variado..</p>
    

<h2 style="color: green;">Esto es un subtitulo de prueba 2</h2>

	<table border width="300" height="100">
			<tr style="background-color:red">
				<td>nombre</td>
				<td>edad</td>
				<td>fecha de nacimiento</td>
				<td>animal</td>
			</tr>
			<tr style="background-color:blue">
				<td>tAVO</td>
				<td>28</td>
				<td>12-07-94</td>
				<td>perro</td>
			</tr>
			
	</table>
